#nav {/*父类box*/
                background-color: #0e5196;
                width: 100%;
            }
.nav-sub {/*子类box*/
	display: flex;
	justify-content: space-around;
	width: 800px;
	margin: 0 auto;
	list-style-type: none;
}
.nav-sub>li {
	height: 50px;
	line-height: 48px;
	position: relative;/*父类相对定位*/
}
.nav-sub>li>a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-sub>li:hover {
	background-color: #409eff;
}

/*清除浮动方法3：在父级元素下增加after伪元素*/
.nav-sub::after {  
   content: ""; 
   display: block; 
   height: 0; 
   clear: both; 
 }
/*一级菜单样式-结束*/





.logo{
	display: flex;
	align-items: center;
	height: 100px;
	background-color: #0e5196;
}
.logo1{
	width: 728px;
	height: 85px;
	margin-left: 150px;
	background-image: url('img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}




#Top-box {
	background-color: #032e63;
	width: 100%;
}
.Top-nav {
	width: 1200px;
	height: 40px;
	background-color: #032e63;
	overflow: auto;/*清除浮动*/
}
.Top-nav>a {
	display: block;/*转为块元素*/
	float: right;/*浮动*/
	height: 30px;
	line-height: 38px;
	padding-left: 3px;
	padding-right: 10px;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
}
.Top-nav>a:hover {
	color: yellow;
}





/* 底部样式 */
.bottom {
	height: 150px;
	background-color: #0B62AC;
	min-width: 1200px;
}

.bottom>.bottomCont {
	/* background-color: rgba(255, 255, 255, .1); */
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	line-height: 1.8em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
}

.bottom>.bottomCont>.bottomLeft {
	/* background-color: rgba(255, 255, 255, .2); */
	display: inline-block;
	width: 80px;
	height: 80px;
	background-image: url('../images/logo_bottom.png');
	background-position: center center;
}

.bottom>.bottomCont>.bottomMiddle {
	/* background-color: rgba(255, 255, 255, .2); */
	width: 750px;
	line-height: 1.5em;
	padding: 10px;
}

.bottom>.bottomCont>.bottomRight {
	/* background-color: rgba(255, 255, 255, .2); */
	width: 250px;
	display: flex;
	justify-content: space-around;
}





.zhanshi{
	width: 100%;
	height: 300px;
	background-image: url('img/list_pic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.zhanshi1{
	width: 100%;
	height: 300px;
	background-image: url('img/13.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.zhanshi2{
	width: 100%;
	height: 300px;
	background-image: url('img/12.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.mainBox{
	min-width: 1200px;
	background-color: #fff;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 20px;
	height: 1000px;
}

.mainCont{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	box-shadow: -5px 5px 5px rgba(192, 191, 195, 0.3), 5px 5px 5px rgba(192, 191, 195, 0.3), 0 5px 5px rgba(192, 191, 195, 0.3);
	height: 100%;
}
.mainCont>.leftBox{
	width: 250px;
	margin-left: 30px;
	box-sizing: border-box;
	background-color: #f6f6f9;
	height: 100%;
}
.mainCont>.rightBox{
	width: 850px;
	margin-right: 30px;
	padding-top: 20px;
	box-sizing: border-box;
	height: 100%;
}
.leftBox>.minBox{
	height: 40px;
	color: #fff;
	text-align: center;
	font-size: 25px;
	padding: 10px;
	background-color: #0069af;
}

.mybutton{
	width: 200px;
	height: 50px;
	margin: 5px;
	line-height: 50px;
	border: 1px #bbbfc2 solid;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	color: #000;
	border-radius: 8px;
	background-color: #fff;
}

/* 1、flex-direction属性 */
.box-1 {
	display: flex;
	align-items: center; /* 水平居中 */
	flex-direction: column;
}
.box-1>.mybutton:hover {
	background-color: #0d94f1;
	color: #fff;
}
.minrigtBox{
	display: flex;
	width: 800px;
	height: 75px;
	margin: 5px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 75px;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	color: #000;
	box-shadow: 0 0 5px 5px rgba(192, 191, 195, 0.3);
	border-radius: 4px;
	background-color: #fff;
	justify-content: space-between;
	align-items: center;
}
.time{
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	color: #000;
	background-color: #fff;
}
.text{
	width: 650px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: left;
	font-size: 15px;
	color: #000;
	background-color: #fff;
	overflow: hidden; /* 当内容超出盒子时隐藏 */
	text-overflow: ellipsis; /* 用...代替超出部分 */
	white-space: nowrap; /* 强制文本不换行 */
}
.minrigtBox .text:hover {
	font-family: '宋体';
	font-size: 20px;
	color: #0d94f1;
}


/* 新闻.公告 */
.mainBox1{
	min-width: 1300px;
	background-color: #fff;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 20px;
	height: 480px;
	background-image: url('img/news-bg.png');
}

.mainBox2{
	min-width: 1300px;
	background-color: #fff;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 20px;
	height: 480px;
}
.mainCont1{
	width: 1300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	height: 100%;
}

.mainCont1>.leftBox2{
	width: 400px;
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px black solid;
	background-color: #fffff4;
}
.mybutton1{
	width: 150px;
	height: 50px;
	margin: 5px;
	line-height: 50px;
	border: 1px #0a77e7 solid;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	border-radius: 8px;
	background-color: #fff;
}
.minrigtBox1{
	display: flex;
	width: 350px;
	height: 50px;
	margin: 5px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	color: #000;
	border-radius: 4px;
	justify-content: space-between;
	align-items: center;
	
}

.time1{
	width: 50px;
	height: 40px;
	line-height: 40px;
	border: 1px #bbbfc2 solid;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	color: #000;
	background-color: #fff;
}
.text1{
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: left;
	font-size: 15px;
	color: #000;
	overflow: hidden; /* 当内容超出盒子时隐藏 */
	text-overflow: ellipsis; /* 用...代替超出部分 */
	white-space: nowrap; /* 强制文本不换行 */
}
.minrigtBox1>.text1:hover {
	font-family: '宋体';
	font-size: 20px;
	color: yellow;
}


/* 快捷通道 */
a{
	text-decoration: none;
}

.linkBox{
	min-width: 1200px;
	height: 250px;
	background-color: #E8F2FE;
}
.linkCenter{
	width: 1200px;
	margin: 0 auto;
	padding: 15px 5px;
}
.linkTitle{
	text-align: center;
	position: relative;
}
.linkTitle>span {
	display: inline-block;
	font-size: 20px;
	color: #0062AD;
	font-weight: bold;
	letter-spacing: 2px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #E8F2FE;
	position: relative;
	z-index: 3;
}

.linkTitle:before {
	content: "";
	border-bottom: solid 1px #DEDFE2;
	display: block;
	top: 15px;
	position: relative;
	z-index: 0;
}

.linkCont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.linkCont>a {
	width: 150px;
	height: 120px;
	text-align: center;
	/* background-color: rgba(255, 255, 255, .5); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.linkCont>a:hover {
	text-decoration: none;
}

.linkCont>a>p {
	display: inline-block;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	border: 1px #fff solid;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 0 10px;
	box-sizing: border-box;
}

.linkCont>a:hover p {
	background-color: #0062AD;
	border: 8px #CCE2F2 solid;
}

.linkCont>a:hover>span {
	color: #0062AD;
}

.linkCont>a>span {
	font: 18px/22px "微软雅黑";
	color: #4f4f4f;
}

.linkCont>a>.icon_1 {
	background-image: url('img/icon_1.png');
}

.linkCont>a:hover>.icon_1 {
	background-image: url('img/icon_1_hover.png');
}

.linkCont>a>.icon_2 {
	background-image: url('img/icon_2.png');
}

.linkCont>a:hover>.icon_2 {
	background-image: url('img/icon_2_hover.png');
}

.linkCont>a>.icon_3 {
	background-image: url('img/icon_3.png');
}

.linkCont>a:hover>.icon_3 {
	background-image: url('img/icon_3_hover.png');
}

.linkCont>a>.icon_4 {
	background-image: url('img/icon_4.png');
}

.linkCont>a:hover>.icon_4 {
	background-image: url('img/icon_4_hover.png');
}

.linkCont>a>.icon_5 {
	background-image: url('img/icon_5.png');
}

.linkCont>a:hover>.icon_5 {
	background-image: url('img/icon_5_hover.png');
}

.linkCont>a>.icon_6 {
	background-image: url('img/icon_6.png');
}

.linkCont>a:hover>.icon_6 {
	background-image: url('img/icon_6_hover.png');
}

.linkCont>a>.icon_7 {
	background-image: url('images/icon_7.png');
}

.linkCont>a:hover>.icon_7 {
	background-image: url('images/icon_7_hover.png');
}


.mainCont>.rightBox2{
	width: 850px;
	margin-right: 30px;
	padding: 40px;
	box-sizing: border-box;
	height: 100%;
	border: 1px black solid;
}